:root {
    --pale-violet: rgb(247, 169, 247);
    --pale-sky: rgb(151, 223, 252);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.resources {
    background-color: var(--pale-sky);
    border-radius: 13px;
    height: 10em;
    width: 10em;
    margin-top: 15em;
    padding: 2em;
    border: 1px solid grey;
}

.calendar {
    background-color: var(--pale-violet);
    border-radius: 13px;
    height: 10em;
    width: 10em;
    margin-top: 15em;
    margin-right: 2em;
    padding: 2em;
    border: 1px solid grey;
}

.resources > p,
.calendar > p {
    margin-top: 1.5em;
}

/*Calendar Page */

.container__calendar {
    height: 80%;
    width: 99%;
    background-color: var(--pale-violet);
    margin: 0 auto;
}

.month,
.month__weekdays
 {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    padding-top: 1em;
}

.month__weekdays {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding-top: 1em;
    padding: 3em;

}

.month__days {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.month__days > p {
    padding: .5em .5em 5em .5em;
    
}

.month__prev,
.month__next {
    font-weight: 700;
} 

.resources__calendarpg {
    margin-top: 1em;
    background-color: var(--pale-sky);
    border-radius: 13px;
    height: 8em;
    width: 8em;
    padding: 2em;
    border: 1px solid grey;
    font-size: .6rem;
    margin: 1 auto 0 auto;
}
