:root {
    --pale-violet: rgb(247, 169, 247);
    --dark-violet: rgb(75, 30, 75);
    --pale-sky: rgb(151, 223, 252);
    --dark-sky: rgb(17, 63, 82);
    --light-tomato: #ff000069;
    --dark-tomato: #5c0000;
    --light-orange: #ffa60075;
    --dark-orange: #8d5c00;
    --light-yellow: #ffff0073;
    --dark-yellow: #6d6d01;
    --light-green:#0080007e;
    --dark-green: #003d00;
    --light-blue: #0000ff8f;
    --dark-blue: #000080;
    --light-indigo: #4c008280;
    --dark-indigo: #22003a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Readex Pro', sans-serif;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.resources {
    background-color: var(--pale-sky);
    border-radius: 13px;
    height: 10em;
    width: 10em;
    margin-top: 15em;
    padding: 2em;
    border: 1px solid grey;
}

.calendar {
    background-color: var(--pale-violet);
    border-radius: 13px;
    height: 10em;
    width: 10em;
    margin-top: 15em;
    margin-right: 2em;
    padding: 2em;
    border: 1px solid grey;
}

.resources > p,
.calendar > p {
    margin-top: 1.5em;
}

.resources--p > a:link,
.resources--p > a:visited,
.calendar--p > a:link,
.calendar--p > a:visited {
    text-decoration: none;
    color: inherit;
}

.resources--p > a:hover {
    color: var(--dark-sky);
}

.calendar--p > a:hover {
    color:var(--dark-violet);
}

/*Calendar Page */

.container__calendar {
    height: 80%;
    width: 99%;
    background-color: var(--pale-violet);
    margin: 0 auto;
}

.month,
.month__weekdays
 {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    padding-top: 1em;
}

.month__weekdays {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding-top: 1em;
    padding: 3em;

}

.month__days {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.month__days > p {
    padding: .5em .5em 5em .5em;
    
}

.month__prev,
.month__next {
    font-weight: 700;
} 

.resources__calendarpg {
    margin: 1em;
    background-color: var(--pale-sky);
    border-radius: 13px;
    height: 8em;
    width: 8em;
    padding: 2em;
    border: 1px solid grey;
    font-size: .6rem;
    margin: 1 auto 0 auto;
    text-align: center;
}

.resources__calendarpg--p {
    margin-top: .2em;
}

.resources__calendarpg--p > a:link,
.resources__calendarpg--p > a:visited {
    text-decoration: none;
    color: inherit;
}

.resources__calendarpg--p > a:hover {
    color: var(--dark-sky);
}

/* Resources & Venues Page */

.buttonsContainer {
    display: flex;
    justify-content: center;
    margin: 1em auto 1em auto;
    text-align: center;
    flex-wrap: wrap;
}

.button__wheelchair {
    background-color: var(--light-tomato);
    border-style: none;
    border-radius: 13px;
    border: 1px solid var(--dark-tomato);
    padding: .5em;
    font-family: inherit;
    margin: .3em;
    cursor: pointer;
}

.button__bathrooms {
    background-color: var(--light-orange);
    border-style: none;
    border-radius: 13px;
    border: 1px solid var(--dark-orange);
    padding: .5em;
    font-family: inherit;
    margin: .3em;
    cursor: pointer;
}

.button__bipoc {
    background-color: var(--light-yellow);
    border-style: none;
    border-radius: 13px;
    border: 1px solid var(--dark-yellow);
    padding: .5em;
    font-family: inherit;
    margin: .3em;
    cursor: pointer;
}

.button__family {
    background-color: var(--light-green);
    border-style: none;
    border-radius: 13px;
    border: 1px solid var(--dark-green);
    padding: .5em;
    font-family: inherit;
    margin: .3em;
    cursor: pointer;
}

.button__poly {
    background-color: var(--light-blue);
    border-style: none;
    border-radius: 13px;
    border: 1px solid var(--dark-blue);
    padding: .5em;
    font-family: inherit;
    margin: .3em;
    cursor: pointer;
}

.button__accessible {
    background-color: var(--light-indigo);
    border-style: none;
    border-radius: 13px;
    border: 1px solid var(--dark-indigo);
    padding: .5em;
    font-family: inherit;
    margin: .3em;
    cursor: pointer;
}

.container__resources {
    background-color: var(--pale-sky);
    text-align: left;
    line-height: 1.5rem;
}

.calendar__resourcespg {
    margin-top: 1em;
    background-color: var(--pale-violet);
    border-radius: 13px;
    height: 8em;
    width: 8em;
    padding: 2em;
    border: 1px solid grey;
    font-size: .6rem;
    margin: 1em;
    text-align: center;
}

.calendar__resourcespg--p {
    margin-top: 1em;
}

.calendar__resourcespg--p > a:link,
.calendar__resourcespg--p > a:visited {
    text-decoration: none;
    color: inherit;
}

.calendar__resourcespg--p > a:hover {
    color: var(--dark-violet);
}